.caldr_date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.caldr_date hr.btwen {
  height: 2px;
  width: 15px;
  background-color: #000;
  margin-top: 35px;
}

.caldr_date hr.btwen2 {
  height: 2px;
  width: 15px;
  background-color: #000;
  margin-top: 4px;
}

.cldr_time {
  margin-bottom: 1rem;
  width: 45%;
}

/* .inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.inputs > * {
  margin-bottom: 1rem;
  width: 100%;
} */

hr.btwen {
  height: 2px;
  width: 15px;
  background-color: #000;
  margin-top: 52px;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker {
  display: flex !important;
  border-radius: 10px !important;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: #f2f2f2 !important;
  font-family: Poppins, sans-serif !important;
}

.react-datepicker__current-month {
  font-family: Poppins, sans-serif !important;
  color: #707A83 !important;
}

.react-datepicker__header {
  border-bottom: 0px !important;
}

.react-datepicker__header, .react-datepicker__month, .react-datepicker__day {
  background-color: #f2f2f2 !important;
}

.react-datepicker__day--selected {
  background-color: #fff !important;
  font-weight: 600;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  color: #707A83 !important;
  font-size: 14.4px !important;
}

.react-datepicker__day-names {
  font-weight: 600;
}
.react-datepicker__day-names div:first-child {
  color: #5cb85c !important;
}
.react-datepicker__day-names div:last-child {
  color: #0275d8 !important;
}
.react-datepicker__navigation {
  margin-top: 20px !important;
  /* border-radius: 50px !important; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important; */
}
